<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Remind password</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="https://kit.fontawesome.com/d1aa552770.js" crossorigin="anonymous"></script>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">

    <div th:replace="fragments/header"></div>

    <div class="row">

        <div th:replace="fragments/menu"></div>

        <div class="col-8 mt-5 offset-1">

            <form method = "post" th:action="@{/password/remindPassword}" th:object="${user}">

                <h1 class="text-center font-weight-bold">PASSWORD REMIND</h1>

                <div class="form-group">
                    <label for="email">Enter your email</label>
                    <input id="email" type="text" class="form-control" th:field="*{email}">
                </div>

                <div th:if="${errors.containsKey('email')}">
                    <label class="text-danger" th:text="${errors.get('email')}"></label>
                </div>

                <div class="form-group">
                    <button class="btn btn-dark" type="submit">Remind password</button>
                </div>

            </form>

        </div>

    </div>

</div>
</body>
</html>