<div th:fragment="header" class="row">
    <nav class="navbar navbar-dark bg-dark" style="width: 100%;">
        <div>
            <a class="navbar-brand" href="/">
                <img th:src="@{/images/logo.png}" alt="">
            </a>
            <a class="btn btn-dark mr-3" href="/" role="button">Home</a>
            <a class="btn btn-dark mr-3" href="/projects" role="button">Projects</a>
            <a class="btn btn-dark mr-3" href="/" role="button">Speed</a>
            <a class="btn btn-dark mr-3" href="/" role="button">Portfolio</a>
        </div>

        <div sec:authorize="isAnonymous()" style="float: left;">
            <a class="btn btn btn-dark" href="/loginSuccess" role="button" style="float: left;">Log in</a>
            <a class="btn btn btn-dark" href="/register" role="button" style="float: left;">Sign up</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{/logout}">
                <button class="btn btn-dark" type="submit">Log out</button>
            </form>
        </div>

    </nav>
</div>