<div th:fragment="menu" class="col-2 bg-secondary" style="height: 100vh;">

    <div class="btn-group-vertical" style="width: 100%">

        <div class="mt-3" style="display: inline-block;">
            <i class="bg-secondary fas fa-user-circle fa-5x" style="color: white; vertical-align: middle"></i>

            <span sec:authorize="isAuthenticated()" class="ml-2" style="color: white; font-weight: bold"
                  sec:authentication="name"></span>

            <span sec:authorize="isAnonymous()" class="ml-2" style="color: white; font-weight: bold"
                  th:text="Anonimowy"></span>

        </div>

        <div class="btn-group-vertical" style="width: 100%" sec:authorize="isAuthenticated()">
            <a class="btn btn-secondary mt-2 text-left" href="/kanbanBoard" role="button"><i
                    class="fas fa-chalkboard-teacher"></i> Kanban Board</a>
            <a class="btn btn-secondary mt-2 text-left" href="/backlog" role="button"><i class="far fa-file-alt"></i>
                Product backlog</a>
            <a class="btn btn-secondary mt-2 text-left" href="#" role="button"><i class="fas fa-chart-line"></i>
                Statistics</a>
        </div>
    </div>
</div>
