<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Do you really want to delete selected user from project?</h5>
                <button type="button" class="close float-right" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <form id="deleteUserForm" method="post">
                    <div class="form-group">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-archive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title">Do you really want to archive project?</h5>
                    <button type="button" class="close float-right" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <h6 class="clear">The project will be moved to the portfolio tab.</h6>
            </div>

            <div class="modal-footer">
                <form class="w-100" method="post" th:action="@{/archiveProject}">
                    <div class="form-group w-100">
                        <button class="btn btn-danger w-100" type="submit">Archive the project</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>