<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kanban board</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="https://kit.fontawesome.com/d1aa552770.js" crossorigin="anonymous"></script>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>
<body>


<div class="container-fluid">

    <div th:replace="fragments/header"></div>

    <div class="row">

        <div th:replace="fragments/menu"></div>


        <div class="col-10">

            <div class="row">
                <div class="btn-block">
                    <a class="btn btn-secondary w-100 rounded-0 m-0" data-toggle="collapse" href="#filterStories"
                       role="button"
                       aria-expanded="false" aria-controls="filterStories">Filter</a>
                </div>
            </div>

            <div class="row bg-dark">
                <div class="col">
                    <div class="collapse p-2 multi-collapse" id="filterStories">
                        <form>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="userStoriesCheck">
                                <label class="form-check-label text-white" for="userStoriesCheck">Show your or not
                                    assigned stories</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="statusContainer" class="row" style="height: 100vh">

                <div th:each="status : ${statuses}" th:id="${status.getName()}" class="col-3 droppable">

                    <h4 class="mt-2 text-white font-weight-bold text-center" th:text="${status.getName()}"></h4>

                    <div th:id="${story.getId()}" class="card draggable border-0" th:each="story : ${stories}"
                         th:if="${story.getStatus().getName()} == ${status.getName()}">

                        <div class="card-body">

                            <h5 class="card-title" th:text="${story.getTitle()}"></h5>
                            <div class="d-flex">
                                <label class="font-weight-bold mr-1" for="sDesc">Short description:</label>
                                <p id="sDesc" class="card-text" th:text="${story.getShortDescription()}"></p>
                            </div>

                            <div class="d-flex">
                                <label class="font-weight-bold mr-1" for="aCrit">Acceptance criteria:</label>
                                <p id="aCrit" class="card-text"
                                   th:text="${story.getAcceptanceCriteria()}"></p>
                            </div>

                            <div class="d-flex">
                                <label class="font-weight-bold mr-1" for="sPoints">Story points:</label>
                                <p id="sPoints" class="card-text" th:text="${story.getStoryPoints()}"></p>
                            </div>
                        </div>

                        <div class="btn-block card-footer bg-dark align-content-center">
                            <a th:unless="${story.getAssignedUserDto()}" role="button"
                               class="btn btn-dark w-100 assignStoryButton"
                               href="#assignStoryButton">Assign this
                                story</a>

                            <div th:if="${story.getAssignedUserDto()}">
                                <h6 th:text="${story.getAssignedUserDto().getFirstName()} + ' ' + ${story.getAssignedUserDto().getLastName()}"
                                    class='d-inline-block text-white text-center'></h6>
                                <a th:if="${story.getAssignedUserDto().getId()} == ${assignedUser.getId()}"
                                   type="button" class="d-inline-block close text-white extractUserButton"
                                   data-dismiss="modal">
                                    &times;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</body>

<div th:replace="kanban/kanbanBoardScripts"></div>

</html>