<script th:inline="javascript">
    var stories = /*[[${stories}]]*/[];

    //====================================DRAGGING AND DROPPING STORIES IN APPRECIATE COLUMN=============================================
    /*Script for drag animation*/
    $(function () {

        $(".draggable").ready().draggable({
            containment: "#droppable",
            revert: "invalid",
            stack: ".draggable",
            drag: function (event, ui) {
                ui.helper.css({
                    transform: "rotate(6deg)"
                });
            }
        });
    });

    $(".droppable").droppable({
        drop: function (event, ui) {
            /*Appending dragged div to droppable div*/
            $(this)
                .append(ui.helper.css({
                    position: 'relative',
                    left: '0px',
                    top: '0px',
                    transform: "rotate(0deg)"
                }));

            updateStatusOfAllStories();
            sendStoriesToServer(stories);
        }
    });

    /*Updating status of stories and sending result*/
    function updateStatusOfAllStories() {
        /*<![CDATA[*/
            for (var i = 0; i < stories.length; i++) {

                var story = document.getElementById(stories[i].id);
                var status = story.parentElement.id.toUpperCase();

                stories[i].status.name = status;
            }
        /*]]>*/
    }

    function sendStoriesToServer(stories) {
        stories = JSON.stringify({
            'stories': stories
        });

        $.ajax({
            url: "http://localhost:8080/updateStories",
            type: 'POST',
            data: stories,
            dataType: "html",
            contentType: 'application/json',
            mimeType: 'application/json',
            success: function (data) {
                console.log(data);
                return false;
            }
        });
    }

    //====================================ASSIGNING USER TO STORY (BY PRESSING BUTTON)=============================================
    /*when user click the button 'Assign story' then send project id*/
    $(document).ready(function () {
        $("#statusContainer").on('click', '.assignStoryButton', function () {
            var storyId = $(this)
                .parent()
                .parent()
                .attr('id');

            assignUserToStory(storyId);
            changeViewAssign($(this));
            updateAssignedUserId(storyId);
        });
    });


    /*send assigned story id to server*/
    function assignUserToStory(storyId) {
        $.ajax({
            url: "http://localhost:8080/assignUserToStory?storyId=" + storyId,
            type: 'POST'
        });
    }

    /*Replace button 'Assign story' with assigned user details*/
    function changeViewAssign(assignStoryButton) {
        /*<![CDATA[*/
        var assignedUser = [[${assignedUser}]];
        var userDetails = assignedUser.firstName + " " + assignedUser.lastName;
        assignStoryButton.replaceWith("<div><h6 class='text-white text-center d-inline-block'>" + userDetails + "</h6>" +
            "<a type='button' class='d-inline-block close text-white extractUserButton'>&times;</a></div>");
        /*]]>*/
    }

    function updateAssignedUserId(storyId) {
        /*<![CDATA[*/
        var assignedUser = [[${assignedUser}]];

        for (var i = 0; i < stories.length; i++) {
            if (Number(stories[i].id) === Number(storyId)) {
                stories[i].assignedUserDto.id = assignedUser.id;
            }
        }
        /*]]>*/
    }


    //====================================EXTRACT USER FROM STORY (BY PRESSING BUTTON)=============================================

    $(document).ready(function () {
        $("#statusContainer").on('click', '.extractUserButton', function () {
                var storyId = $(this)
                    .parent()
                    .parent()
                    .parent()
                    .attr('id');

                extractUserFromStory(storyId);
                changeViewExtract($(this));
                updateAssignedUserId(null);
            }
        )
    });

    /*Send data to server (which story do not have any more assigned user)*/
    function extractUserFromStory(storyId) {
        $.ajax({
            url: "http://localhost:8080/extractUserFromStory?storyId=" + storyId,
            type: 'POST'
        });
    }

    /*Change replace div with user details with button to assign user to story */
    function changeViewExtract(extractUserButton) {
        var assignedUserDataDiv = extractUserButton.parent();
        assignedUserDataDiv.replaceWith("<a role='button' class='btn btn-dark w-100 assignStoryButton' " +
            "href='#assignStoryButton'>Assign this story</a>");
    }


    //====================================COLOR OF COLUMNS BACKGROUNDS=============================================
    $(document).ready(function () {
        /*<![CDATA[*/
        var statuses = /*[[${statuses}]]*/['TO_DO', 'DOING', 'VERIFY', 'DONE'];
        var colors = ['bg-danger', 'bg-info', 'bg-secondary', 'bg-primary'];
        var dot = '#';
        for (var i = 0; i < statuses.length; i++) {
            statuses[i] = dot.concat(statuses[i].name);
            $(statuses[i].toString()).each(function () {
                $(this).addClass(colors[i]);
            });
        }
        /*]]>*/
    });


    //====================================FILTERING OPTIONS=============================================
    $('#userStoriesCheck').change(function () {
        if ($(this).is(':checked')) {
            hideOtherStories();
        } else {
            showAllStories();
        }
    });

    function hideOtherStories() {

        var assignedUser = [[${assignedUser}]];

        for (const story of stories) {
            if (story.assignedUserDto.id !== assignedUser.id && story.assignedUserDto.id !== null) {

                var divToHideId = '#'.concat(story.id);
                $(divToHideId).hide();
            }
        }
    }

    function showAllStories() {
        for (const story of stories) {
            var divToShow = '#'.concat(story.id);
            $(divToShow).show();
        }
    }

</script>